apiVersion: v1
kind: Service
metadata:
  name: adguard-home
  namespace: adguard
spec:
  type: LoadBalancer
  selector:
    app: adguard-home
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: ui
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: setup
    - port: 53
      targetPort: 53
      protocol: UDP
      name: dns
