apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - ./cert-manager/
  - ./oauth2-proxy/
  # - ./links/
  - ./hass/
  - ./k8s.metal-lb-pool.yml
  - ./postgres
  - ./immich
  - ./sealed-secrets
  - ./music
  - ./adguard-home
patches:
  - path: patch.metal-lb.yml
  - path: patch.ingress-nginx.yml
  - path: patch.storage.yml
